<!-- Loader always loads ONCE -->
<app-loader></app-loader>

<!-- Main Website Content -->

<div>

  <app-navbar></app-navbar>

  <section id="hero"><app-hero></app-hero></section>

  <section id="about"><app-about></app-about></section>

  <section id="services"><app-services></app-services></section>

  <section id="experience"><app-experience></app-experience></section>

  <section id="skills"><app-skills></app-skills></section>

  <section id="education"><app-education></app-education></section>

  <section id="projects"><app-projects></app-projects></section>

  <!-- <section id="blog"><app-blog></app-blog></section> -->

  <section id="contact"><app-contact></app-contact></section>

  <!-- <button class="fixed bottom-5 right-5 px-3 py-2 bg-gray-700 text-white rounded-lg shadow" (click)="toggleMode()">
    Toggle Theme
  </button> -->
</div>